body {
    margin-left: 10%;
    margin-right: 10%;
}

.noredirect {
    display: none;
}

#content-negotiation-bibtex {
    display: none;
}

#content-negotiation-turtle {
    display: none;
}

#content-negotiation-rdf {
    display: none;
}

#content-negotiation-citation {
    display: none;
}

#content-negotiation-title {
    display: none;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.footer-logo {
    max-height: 50px;
    width: 100px;
    object-fit: contain;
}