body {
    margin-left: 10%;
    margin-right: 10%;
}

.noredirect {
    display: none;
}

#content-negotiation {
    display: none;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}